<h1>Partida: {{id}}</h1>
<h2>Fecha de creación: {{creationDate}}</h2>
<h2>Estado de la partida: {{state}}</h2>
<h2>Nombre de la partida: {{name}}</h2>
<a href="{{ path('play', {'gameid': id}) }}">Jugar</a>