<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}

           <div class="title">
             <h1>Mastermind :o</h1>
            </div>

            <div class="content-block">


            <div class="style-image"><img src="https://giltesa.com/wp-content/uploads/2010/12/mastermint.png" alt="Mastermind"></div>

            <div class="content-list-games-2">
              <div class="content-list-games_title">
                   <h1>Detalle de partida</h1>
              </div>

              <div class="content-list_games_data">
                  <h3>Nombre de la partida:</h3> {{name}}
                  <h3>Estado de la partida:</h3> {{state}}
                  <h3>Fecha de creación: </h3>{{creationDate}}
              </div>



                <div><a href="{{ path('games', {'gameid': gameid}) }}">JUGAR</a></div>
                <div><a href="{{ path('index')}}" class="myButton">Volver</a></div>
             </div>

            </div>

                <div>
                    <h1>Jugadas realizadas:</h2>
                </div>

                 <div class="content-block-detail">
                   <div><h3>Fecha de la jugada</h3></div>
                   <div><h3>Resultado de la jugada</h3></div>
                   <div><h3>Datos de la jugada</h3></div>
                 </div>

            <div class="content-block-detail">
                 {% for move in moves %}
                     <div>{{ move.date }}</div>
                     <div>{{ move.evaluation }}</div>
                     <li> {{move.colorList}} ==> Fichas negras: {{ move.blackString }}, Fichas blancas: {{ move.whiteString }}</li>
                 {% endfor %}
            </div>


            </div>




        {% endblock %}
        <script src="{{ asset('build/app.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
