<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}

           <div class="title">
             <h1>Mastermind :o</h1>
            </div>

            <div class="content-block">


            <div class="style-image"><img src="https://giltesa.com/wp-content/uploads/2010/12/mastermint.png" alt="Mastermind"></div>

            <div class="content-list-games-2">
              <div class="content-list-games_title">
                  <h1>Jugando partida: {{name}}</h1>
              </div>

              <div class="content-list_games_data">
                 {{ form_start(form, {attr: {class: 'formulario'} }) }}
                 {{ form_widget(form) }}
                 {{ form_end(form) }}

                 <h4>{{message}}</h4>


                 <h4>{{restMove}}</h4>
              </div>
                <div><a href="{{ path('index')}}" class="myButton">Volver</a></div>
             </div>

            </div>


             <div>

                  <div><h1>Resultados de la partida:</h1></div>


                    <ol>
                    {% for result in historicResults %}
                        <li>Movimiento: {{result.moveString}} ==> Fichas negras: {{ result.blackString }}, Fichas blancas: {{ result.whiteString }}</li>
                    {% endfor %}
                    </ol>



              </div>




        {% endblock %}
        <script src="{{ asset('build/app.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
