
<h3>Jugando partida: {{name}}</h3>

{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}

<h4>{{message}}</h4>


<h4>{{restMove}}</h4>

<h3>Resultados de la partida:</h3>
<ol>
{% for result in historicResults %}
    <li>Movimiento: {{result.moveString}} ==> Fichas negras: {{ result.blackString }}, Fichas blancas: {{ result.whiteString }}</li>
{% endfor %}
</ol>

